:root {
  --body-text-color: #212121;
  --image-text-color: #757575;
}
body {
  font-family: Roboto, Raleway;
  font-weight: 400, 500, 700, 900;
  color: var(--body-text-color);
}
button:hover,
a:hover {
  background: #2196f3;
  cursor: pointer;
}
.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
}
.size-button {
  font-size: 16px;
  line-height: 1.6;
}
.small-text-image {
  color: var(--image-text-color);
  line-height: 30px;
}
.big-text-image {
  font-family: 18px;
  line-height: 2;
}
.logo {
  font-size: 26px;
  line-height: 1.2;
}
.footer {
  font-size: 14px;
  line-height: 1.7;
}
