:root {
  --body-text-color: #212121;
  --image-text-color: #757575;
  --background-botton-color: #2196f3;
  --white-color: #ffffff;
}
body {
  font-family: Roboto, Raleway;
  font-weight: 400, 500, 700, 900;
  color: var(--body-text-color);
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button:hover,
a:hover {
  background: var(--background-botton-color);
  cursor: pointer;
}
h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
}
.contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  color: var(--image-text-color);
}
.menu-portfolio {
  font-size: 16px;
  line-height: 1.6;
}
.small-text-image {
  color: var(--image-text-color);
  line-height: 30px;
}
.big-text-image {
  font-family: 18px;
  line-height: 2;
}
.logo {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.footer {
  font-size: 14px;
  line-height: 1.7;
}
.color-logo {
  color: var(--background-botton-color);
}
.menu-color {
  color: var(--body-text-color);
}
.back-color {
  background-color: var(--background-botton-color);
}
.index-bottom-oreder-servise {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--background-botton-color);
  color: var(--white-color);
}
.index-smoll-text-color {
  color: var(--image-text-color);
}
